body {
    background-color: aqua;
    text-align: center;
}

p, li {
    font-family: monospace;
    color: brown;
    font-size: 24px;
    font-weight: bold;
}

.Main {
    background-color: fuchsia;
    margin: 100px;
}